:root {
    --primary-color: #0B3C5D;
    --secondary-color: #1B6F93;
    --accent1-color: #EAF4F8;
    --accent2-color: #F2B632;
    --text-color: #1E2A33;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --border-black: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    align-items: center;
    background-color: var(--primary-color);
}

footer {
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

footer p {
    display: flex;
    justify-content: space-evenly;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

header nav a {
    color: var(--accent1-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a img {
    text-decoration: none;
    width: 50px;
    filter: invert(1);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    background-color: rgb(from var(--primary-color) r g b / 0.8);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    border: var(--border-black)
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgb(from var(--primary-color) r g b / 0.8);
    color: var(--accent2-color)
}

h2 {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color)
}

article {
    position: absolute;
    color: var(--text-color);
}