:root {
    --primary-color: #0B3C5D;
    --secondary-color: #1B6F93;
    --accent1-color: #EAF4F8;
    --accent2-color: #F2B632;
    --text-color: #1E2A33;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
    --border-black: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 1rem;
}

header img {
    width: 90%;
    height: auto;
    justify-self: right;
}

header li {
    flex: 1;
    border: 1px solid var(--text-color);
    background-color: var(--accent1-color);
    text-align: center;

}

header nav ul {
    display: flex;
    list-style: none;
}

header nav a {
    color: var(--text-color);
    text-decoration: none;
}

footer {
    display: grid;
    grid-template-columns: 5fr 3fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

footer p {
    display: flex;
    justify-content: space-evenly;
}

header,
main,
footer {
    width: 840px;
    margin: 1rem auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

section {
    margin: 16px 0 0 0;
}

.socialmedia {
    display: flex
}

.socialmedia a {
    text-decoration: none;
    margin: .5rem;
}

.socialmedia a img {
    justify-content: right;
    text-decoration: none;
    width: 50px;
    filter: invert(1);
}

.hero {
    position: relative;
    display: flex;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    align-self: center;
    left: 24px;
    right: 24px;
    background-color: rgb(from var(--primary-color) r g b / 0.8);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
    border: var(--border-black)
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    background-color: var(--secondary-color);
    align-items: flex-start;
}

.history h2 {
    grid-column: 1 / -1;
    background: none;
}

.history img {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
}

.history p {
    color: var(--accent1-color)
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: .5rem;
    background-color: var(--secondary-color);
    padding-left: .5rem;
    padding-right: .5rem;
}

.gallery h2 {
    grid-column: 1 / -1;
    margin-bottom: 1rem;
    background: none;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery figcaption {
    color: var(--accent1-color);
    text-align: center;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgb(from var(--primary-color) r g b / 0.8);
    color: var(--accent2-color)
}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--accent1-color)
}

article {
    position: absolute;
    color: var(--text-color);
}